.mic_piccino{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 340px;
    right: -220px;
}

.mic_piccino2{
    height: 150px;
    width: 150px;
    align-items: center;
}

.meg_button{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 340px;
    right: -250px;
}

.meg_img{
    height: 150px;
    width: 150px;
    align-items: center;
}