.booko{
    height: 250px;
    width: 300px;
}

.buttonLeft {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 525px;
  left: 120px;
}

.buttonCentral {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 525px;
  left: 760px;
}

.buttonRight {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 525px;
  right: 200px;
}

.storyPanelButton{
  height: 100px;
  width: 150px;
  position: absolute;
  bottom: 300px;
  right: 300px;
}

.character{
  height: 100px;
  width: 1000px;
  top: 1px;  
  position: absolute;
  top: 1px;
}

.character{
  height: 100px;
  width: 1000px;
  top: 1px;  
  position: absolute;
  top: 1px;
}