.booko{
    height: 250px;
    width: 300px;
}

.buttonLeft {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 700px;
  left: 120px;
}

.buttonCentral {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 700px;
  left: 800px;
}

.buttonRight {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 700px;
  right: 120px;
}

.storyPanelButton{
  height: 175px;
  width: 250px;
  position: absolute;
  top: 20px;
  right: 330px;
}

.character{
  height: 100px;
  width: 1000px;
  top: 1px;  
  position: absolute;
  top: 1px;
}
