# created by virtualenv automatically

/client/node_modules
/flask-server/auth.txt
.vscode
/flask-server/venv
.idea
.idea/AUTISTA.iml
.idea/misc.xml
/flask-server/venv/pyvenv.cfg
/flask-server/__pycache__
