.Introduction {
  text-align: center;
}

.Introduction-header {
  background-color: #8ab2e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainCharacter{
  height: 775px;
  width: 775px;
  position: absolute;
  top: 50px;
  right: 250px;
}

.owlChatBox{
  width: 800px;
  height: 500px;
  position: absolute;
  left: 100px;
  top: 180px;
  border: 5px solid lightblue;
  border-radius: 16px;
}

.gufoIntro{
    height: 350px;
    width: 350px;
    /*position: fixed;*/
    /*position: center;*/
}

.owlbutton {

  width: 450px;
  height: 450px;
  /*backgroundColor: #000000FF;*/
  background:none;
  border: none;
  position: absolute;
  top: 200px;
  right: 400px;
}

.bigButton{
  height: 400px;
  width: 600px;

}